<nav class="navbar navbar-toggleable-xs"></nav>
<mat-toolbar class="app-toolbar" color="accent">
    <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <span class="toolbar-title-app">Recipes Book</span>
    <div fxShow="true" fxHide.lt-md="true">
        <mat-nav-list class="nav-list" *ngIf="isAuthenticated">
            <a mat-list-item class="nav-link-item" routerLink="/recipes" routerLinkActive="active-link-item">
                <mat-icon>menu_book</mat-icon>
                Recipes
            </a>

            <a mat-list-item class="nav-link-item" routerLink="/shopping-list" routerLinkActive="active-link-item">
                <mat-icon>shopping_bag</mat-icon>
                Shopping List
            </a>
        </mat-nav-list>

    </div>
    <div fxFlex fxLayoutAlign="flex-end center">
        <div *ngIf="isAuthenticated">
            <button mat-button [matMenuTriggerFor]="manageMenu">
                <mat-icon>settings</mat-icon>
                Manage
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #manageMenu="matMenu">
                <button mat-menu-item (click)="onSaveData()">
                    <mat-icon>save_alt</mat-icon>
                    Save
                </button>
                <button mat-menu-item (click)="onFetchData()">
                    <mat-icon>cloud_download</mat-icon>
                    Fetch Data
                </button>
            </mat-menu>
        </div>
        <button mat-button (click)="onNavigateToAuth()" *ngIf="!isAuthenticated">
            <mat-icon>person</mat-icon>
            Authenticate
        </button>
        <button mat-button (click)="onLogout()" *ngIf="isAuthenticated">
            <mat-icon>logout</mat-icon>
            Logout
        </button>
    </div>

</mat-toolbar>
<mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav #sidenav fxLayout="column" fxHide.gt-sm="true">
        <div fxLayout="column">
            <a mat-list-item class="sidenav-link-item" routerLink="/recipes" routerLinkActive="sidenav-active-link-item" (click)="sidenav.toggle()">
                Recipes
            </a>
            <a mat-list-item class=" sidenav-link-item " routerLink="/shopping-list" routerLinkActive="sidenav-active-link-item " (click)="sidenav.toggle()"> Shopping List
            </a>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style=" height: 88vh; ">
            pppp
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>