.toolbar-links{
    margin-right: 20px;
    color: #ffebee;
}

.toolbar-title-app{
    margin-right: 20px;
    font-family: fantasy;
}

.app-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000; 
}
.nav-list{
    display: flex;
    align-self: normal;
}

.nav-link-item{
    color: #ffebee;
}
.active-link-item{
   color: #f48fb1;
}