.toolbar-links {
    margin-right: 20px;
    color: #ffebee;
}

.toolbar-title-app {
    margin-right: 20px;
}

.app-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}

.nav-list {
    display: flex;
    align-self: normal;
}

.nav-link-item {
    color: #ffebee;
}

.active-link-item {
    color: #f48fb1;
}

.sidenav-link-item {
    color: #f48fb1;
    margin: 20px;
    font-weight: bold;
    text-decoration: none;
}

.sidenav-active-link-item {
    color: #ff4081;
    text-decoration: none;
    margin: 20px;
}

.nav-menu-button {
    margin-right: 10px
}

.manage-arrow {
    vertical-align: middle;
}