<mat-card class="mat-elevation-z4 recipe-card">
    <form *ngIf="form" class="recipe-form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field color="accent" class="recipe-form-field">
            <mat-label>Recipe Title</mat-label>
            <input matInput type="text" formControlName="name" />
            <mat-error *ngIf="hasError('name','required')">Recipe title is required</mat-error>
        </mat-form-field>
        <mat-form-field color="accent" class="recipe-form-field">
            <mat-label>Image URL</mat-label>
            <input matInput type="url" formControlName="imagePath" #imagePath />
            <mat-error *ngIf="hasError('imagePath','required')">Image URL is required</mat-error>
        </mat-form-field>
        <div>
            <img class="recipe-edit-image" mat-card-image alt="" [src]="imagePath.value">
        </div>
        <mat-form-field color="accent" class="recipe-form-field">
            <mat-label>Description</mat-label>
            <textarea matInput rows="8" type="text" formControlName="description"></textarea>
            <mat-error *ngIf="hasError('description','required')">Description is required</mat-error>
        </mat-form-field>
        <button mat-raised-button type="button" (click)="onAddIngredient()" class="add-ingredient-button">
            <mat-icon>add</mat-icon>Add Ingredient
        </button>
        <div formArrayName="ingredients" class="ingredients-list">
            <div *ngFor="let ingredientCtr of ingredientsControls; let i= index" [formGroupName]="i" class="ingredient-group">
                <mat-form-field color="accent" class="ingredient-form-field">
                    <mat-label>Ingredient Name</mat-label>
                    <input matInput type="text" formControlName="name" />
                    <mat-error *ngIf="hasArrayGroupItemError('name',i,'required')">Name is required</mat-error>
                </mat-form-field>
                <mat-form-field color="accent" class="amount-form-field ingredient-form-field">
                    <mat-label>Amount</mat-label>
                    <input matInput type="number" formControlName="amount" />
                    <mat-error>
                        <span *ngIf="hasArrayGroupItemError('amount',i,'required')">Amount is required</span>
                        <span *ngIf="hasArrayGroupItemError('amount',i,'pattern')">Amount should be greater than 0</span>
                    </mat-error>
                </mat-form-field>
                <button mat-mini-fab type="button" color="accent" class="clear-fab-button" #tooltip="matTooltip"
                    matTooltip="Delete ingredient" [matTooltipPosition]="'below'" matTooltipHideDelay="2000"
                        
                    (click)="onDeleteIngredient(i)">
                    <mat-icon>clear</mat-icon>
                </button>
            </div>
        </div>
        <div class="buttons-div">
            <button mat-raised-button color="accent" class="recipe-button" type="button" (click)="onCancel()">
                <mat-icon>chevron_left</mat-icon>Cancel
            </button>
            <!-- TODO: add form.touched or something? -->
            <button [disabled]="!form.valid" mat-raised-button color="accent" class="recipe-button" type="submit">Save
                <mat-icon>chevron_right
                </mat-icon></button>

        </div>
    </form>
</mat-card>