<div fxLayout="row" fxFlex="100" xLayoutAlign="space-around top">

    <div fxFlex fxLayout="column" class="recipe-column">

        <h1 class="mat-title column-title">Recipe List</h1>

        <mat-divider></mat-divider>
        <app-recipe-list>
        </app-recipe-list>
    </div>


    <div fxFlex="60" fxLayout="column" class="recipe-column">

        <h1 class="mat-title column-title">Recipe Detail</h1>
        <mat-divider></mat-divider>
        <router-outlet></router-outlet>
    </div>

</div>